.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.reflected-container {
  position: relative;
  width: 300px; /* Example width */
  height: 200px; /* Example height */
  overflow: hidden; /* Hide the original part */
}

.reflected-image {
  width: 100%; /* Ensure the image is full-width of its container */
  height: 100%; /* Ensure the image is full-height of its container */
  -webkit-box-reflect: below 0px linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%); /* Apply reflection */
  object-fit: cover; /* Ensures the image covers the container properly */
  transform: scaleY(-1); /* Flip the image vertically for the reflection */
}